<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opt Email</title>
</head>
<body>
<div style="height: 100% ;width: 100%;
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);">
    <!-- img -->
    <div style="margin: auto; width: 100px;">
        <img src="https://static-00.iconduck.com/assets.00/spring-icon-256x256-2efvkvky.png" alt="" style="width: 100%;" >
    </div>
    <!-- text -->
    <h2 style="text-align: center">Expense Tracking Application</h2>
    <p style="text-align: center">Before you sign in, we need to verify your identify.  Enter the following code on the sign-in page.</p>
    <!-- box opt -->
    <div style="height: 50px ;width: 200px;background-color:dimgrey;margin: 0 auto;">
        <p style="padding-top: 20px;padding-left: 50px;">X-X-X-X-X-X</p>
    </div>
    <!-- text -->
    <p style="text-align: center">Welcome to the Expense Tracking Application. Here,  you can monitor your expenses and manage your budget effectively.</p>
</div>
</body>
</html>